@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "Plugin2";
}

<h2>Plugin2 index file</h2>
<h2>"Customer Id:"@ViewBag.shoporder.CustomerId</h2>
<h2>"Order Id:"@ViewBag.shoporder.ShopOrderId</h2>
<h2>"Customer Name:"@ViewBag.shoporder.CustomerName</h2>
<h2>"Session Variable:"@ViewBag.sessionInfo</h2>


